<div [formGroup]="form">
  <label [attr.for]="question.key">{{question.label}}</label>

  <div [ngSwitch]="question.controlType">

    <input *ngSwitchCase="'textbox'"
           [formControlName]="question.key"
           [id]="question.key"
           [type]="question.type"
           kendoTextBox>

    <kendo-dropdownlist *ngSwitchCase="'dropdown'"
                        [formControlName]="question.key"
                        [id]="question.key"
                        [data]="question.options"
                        [textField]="'value'"
                        [valueField]="'key'"
                        [valuePrimitive]="true"></kendo-dropdownlist>

    <app-datepicker-input *ngSwitchCase="'datepicker'"
                          [formControlName]="question.key"
                          [id]="question.key"></app-datepicker-input>

  </div> 

  <div class="errorMessage" *ngIf="!isValid && isTouched">{{question.required.text}}</div>
</div>
