<div *ngIf="true" style="margin-bottom: 30px;">
  <form (ngSubmit)="onSubmit()" [formGroup]="form">

    <div *ngFor="let question of questions" class="form-row">
      <app-question [question]="question" [form]="form"></app-question>
    </div>

    <div class="form-row">
      <button type="submit">Save</button>
      <button type="reset" (click)="onReset()">Reset</button>
    </div>
  </form>

  <div *ngIf="payLoad" class="form-row">
    <strong>Saved the following values</strong><br>{{form.value | json}}
  </div>
</div>

<div *ngIf="true">
  <form [formGroup]="partyForm" style="width: 50%;">
    <div *ngFor="let group of partyModel" [formGroupName]="group.key" class="k-block">
      <div class="k-header">{{group.label}}</div>
      <div class="k-content">
        <ul class="fieldlist">
          <li *ngFor="let control of group.getControls()">
            <label [attr.for]="control.key">{{control.label}}</label>
            <input type="text" [formControlName]="control.key" [id]="control.key" kendoTextBox>
          </li>
        </ul>
      </div>
    </div>
  </form>


  {{ partyForm.value | json }}
</div>